@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To a Movie-site where you can search for movies. By title. Or by genre. Or by rating. Wow!</p>
    @*Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>*@
</div>
